body{
background-color:bisque;
}
h1{
    
    color:violet;
    }
ol{
font-family: cursive;
}
nav{
font-family: serif;
background-color:burlywood;
}
h2{
font-family:Bold;
color:navy;
}
